* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.galery {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.galery-img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  object-position: center center;
  border-radius: 16px;
}
