*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  background: #f4f4f4;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  height: 100vh;
  display: flex;
}

aside {
  background: #ccc;
  width: 220px;
  height: 100vh;
  padding: 32px 8px;
}

aside li {
  padding: 8px 0;
  font-weight: bold;
  margin-bottom: 16px;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

main p {
  font-size: 2em;
  font-weight: bold;
}

@media (max-width: 640px) {
  .container {
    flex-direction: column-reverse;
  }

  main {
    flex-grow: 1;
  }

  aside {
    height: auto;
    width: 100%;
  }

  ul {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}
